Below I read my initial data set to a data frame. I have omitted this initial data set from the GitHub repository due to its large size. I have included a link to where you can download the data set.

In [12]:
import pandas as pd
import string

# Download song lyrics data set at: https://www.kaggle.com/datasets/carlosgdcj/genius-song-lyrics-with-language-information
df = pd.read_csv('song_lyrics.csv')

In [13]:
new_df = df[df['views'] >= 1000]
new_df.head(5)

,title,tag,artist,year,views,features,lyrics,id,language_cld3,language_ft,language
0,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}","[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1,en,en,en
1,Can I Live,rap,JAY-Z,1996,468624,{},"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",3,en,en,en
2,Forgive Me Father,rap,Fabolous,2003,4743,{},Maybe cause I'm eatin\nAnd these bastards fien...,4,en,en,en
3,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}",[Produced by Kanye West and Brian Miller]\n\n[...,5,en,en,en
4,Fly In,rap,Lil Wayne,2005,78271,{},"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6,en,en,en

In [14]:
new_df_copy = new_df.copy()
new_df_copy.drop(['title', 'tag', 'year', 'features', 'lyrics', 'language_cld3', 'language_ft', 'language'], axis=1, inplace=True)
new_df_copy.head(5)

      artist   views  id
0    Cam'ron  173166   1
1      JAY-Z  468624   3
2   Fabolous    4743   4
3    Cam'ron  144404   5
4  Lil Wayne   78271   6

In [15]:
print(new_df_copy.shape[0])

840378

In [16]:
new_df_copy.to_csv('artists_and_ids.csv', index=False)

In [74]:
df2 = pd.read_csv('artists_and_ids.csv')

In [75]:
total_views = df2.groupby('artist')['views'].sum().reset_index()

df2 = df2.merge(total_views, on='artist', how='left', suffixes=('', '_total_views'))
df2.rename(columns={'views_total_views': 'combined_views'}, inplace=True)
df2 = df2.sort_values(by='combined_views', ascending=False)
df2.drop(['views', 'combined_views'], axis=1, inplace=True)

In [73]:
df2['artist_processed'] = df2['artist']
df2['artist_processed'] = df2['artist_processed'].str.lower()
df2['artist_processed'] = df2['artist_processed'].str.replace('&', 'and')
df2['artist_processed'] = df2['artist_processed'].str.replace('$', 's')
df2['artist_processed'] = df2['artist_processed'].str.replace('the', '')
df2['artist_processed'] = df2['artist_processed'].str.replace(' ', '')

translator = str.maketrans('', '', string.punctuation)
df2['artist_processed'] = df2['artist_processed'].apply(lambda x: x.translate(translator))

df2.head(5)

/var/folders/k5/y_cj1yp17l35rdjk48wj99300000gn/T/ipykernel_31980/3147160683.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['artist_processed'] = df2['artist_processed'].str.replace('$', 's')

       artist    views       id  combined_views artist_processed
460358  Drake     7763  3167943       290383586            drake
99776   Drake   623350   323145       290383586            drake
25842   Drake     9566    50997       290383586            drake
734774  Drake     1587  5674367       290383586            drake
25786   Drake  3162239    50895       290383586            drake

In [67]:
df2.to_csv('artists_and_ids_after_processing.csv', index=False)